<app-modal
  (close)="onClose()"
  [isShow]="!!(buildingService.selectedBuilding$ | async)"
>
  <div
    *ngIf="buildingService.selectedBuilding$ | async as selectedBuilding"
    class="flex flex-col space-y-2"
  >
    <div class="text-2xl text-center text-[var(--text-color-hover)]">
      {{ selectedBuilding.default.name }}
    </div>
    <div class="text-center">{{ selectedBuilding.default.description }}</div>

    <div class="text-center mt-4">Cost</div>
    <app-resource-cost
      [resourcesCost]="selectedBuilding.upgrade.next.resources"
      (changeMax)="onChangeMax($event)"
    />

    <div class="text-center mt-4">Upgrade</div>
    <div class="flex items-center p-2 bg-[var(--bg-light)] rounded">
      <span class="w-1/2">Time: </span>
      <span class="w-1/2 text-center">{{
        selectedBuilding.upgrade.next.time | secondsToTime
      }}</span>
    </div>
    <div class="flex items-center p-2 bg-[var(--bg-odd)] rounded">
      <span class="w-1/2">{{ selectedBuilding.default.generate }}: </span>
      <span class="w-1/2 text-center"
        >{{ selectedBuilding.upgrade.current.generate }} ➡️
        {{ selectedBuilding.upgrade.next.generate }}
        {{ selectedBuilding.default.unit }}</span
      >
    </div>
    <div class="flex items-center p-2 bg-[var(--bg-light)] rounded">
      <span class="w-1/2">Level: </span>
      <span class="w-1/2 text-center"
        >{{ selectedBuilding.upgrade.current.level }} ➡️
        {{ selectedBuilding.upgrade.next.level }}</span
      >
    </div>
    <app-button [disabled]="disableUpgrade" (click)="upgrade()">
      Upgrade
    </app-button>
  </div>
</app-modal>
