.home {
  padding-bottom: 50px;
  .resources {
    background-color: $bg-transparent;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .resource {
      width: 25%;
      text-align: center;
      cursor: pointer;
      @media only screen and (max-width : 400px) {
        width: 50%;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    >* {
      width: 33.333%;
    }
  }

  .population {
    margin-top: 10px;

    .bar {
      padding: 20px 0;
      width: 100%;
      background-color: #834608;
      width: 100%;
      height: 100%;
      position: relative;

      .value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .process {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #d29827;
        height: 100%;
      }
    }
  }

  .navigation {
    margin-top: 20px;

    a {
      width: 100%;

      .link {
        width: 100%;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        background-color: $bg-dark;
        padding: 10px;
        border: 5px solid $border-color;
        color: $text-color;
      }

      +a {
        margin-top: 20px;
      }
    }
  }

  .menu {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a {
      width: 50%;
      &:not(:nth-child(-n + 2)) {
        margin-top: 20px;
      }
    }
    a>* {
      margin: 0 auto;
      background-image: url('../../images/icon/menu.webp');
      width: 100px;
      height: 130px;
      border: 3px solid $border-color-dark;
      border-radius: 5px;
      background-color: $bg-dark;
      cursor: pointer;
      position: relative;

      &:hover {
        span {
          color: $text-color-hover;
        }
      }

      span {
        color: $text-color;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 600;
        transition: .3s;
      }
    }

    .army {
      background-position-x: 0%;
      background-position-y: -20px;
    }

    .world {
      background-position-x: 295px;
      background-position-y: 10px;
    }

    .building {
      background-image: url('../../images/icon/castle.webp');
      background-size: contain;
      background-position: center;
    }
    .tower {
      background-image: url('../../images/icon/tower.webp');
      background-size: contain;
      background-position: center;
    }
  }

  .chat {
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    width: 100%;
    height: 200px;
  }
}