.home {
  .resources {
    background-color: $bg-transparent;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .resource {
      width: 25%;
      text-align: center;
      cursor: pointer;
      img {
        width: 50px;
      }
    }
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    > * {
      width: 33.333%;
    }
  }
  .population {
    margin-top: 10px;
    .bar {
      padding: 20px 0;
      width: 100%;
      background-color: #834608;
      width: 100%;
      height: 100%;
      position: relative;
      .value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .process {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #d29827;
        height: 100%;
      }
    }
  }
  .navigation {
    margin-top: 20px;
    a {
      width: 100%;
      .link {
        width: 100%;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        background-color: $bg-dark;
        padding: 10px;
        border: 5px solid $border-color;
        color: $text-color;
      }
      + a {
        margin-top: 20px;
      }
    }
  }
}
