<div class="relative">
  <div
    class="absolute top-[5%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[30px] h-[30px] cursor-pointer z-10"
    (click)="backToCastle()"
  >
    <div
      class="w-full h-[2px] absolute rotate-45 bg-white"
      style="transform-origin: center"
    ></div>
    <div
      class="w-full h-[2px] absolute -rotate-45 bg-white"
      style="transform-origin: center"
    ></div>
  </div>
  <div class="">
    <img class="w-full" src="http://localhost:3000/api/overview.jpg" alt="" />
  </div>
  <ng-container *ngFor="let building of buildings">
    <app-building
      [width]="building.width"
      [top]="building.top"
      [left]="building.left"
      [path]="building.path"
      [key]="building.key"
    />
  </ng-container>
</div>
