<div class="relative w-full h-full">
  <!-- Mine -->
  <div class="flex">
    <div class="w-1/2 overflow-hidden">
      <img
        class="w-[200%]"
        src="http://localhost:3000/api/gold-mine/gold-mine-1.webp"
        alt=""
      />
    </div>

    <div class="w-1/2 overflow-hidden">
      <img
        class="w-[200%]"
        src="http://localhost:3000/api/iron-mine/iron-mine-1.webp"
        alt=""
      />
    </div>
  </div>

  <div class="flex">
    <div class="w-1/2 overflow-hidden">
      <img
        class="w-[200%]"
        src="http://localhost:3000/api/lumberjack/lumberjack-1.webp"
        alt=""
      />
    </div>

    <div class="w-1/2 overflow-hidden">
      <img
        class="w-[200%]"
        src="http://localhost:3000/api/farm/farm-1.webp"
        alt=""
      />
    </div>
  </div>

  <div class="absolute bottom-0 left-0 w-full overflow-hidden">
    <img
      class="w-[200%] translate-x-[-50%]"
      src="http://localhost:3000/api/wall/wall-1.webp"
      alt=""
    />
  </div>
</div>
