.resources {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .resource {
    width: 25%;
    @media only screen and (max-width: 1600px) {
      width: 15%;
    }
    @media only screen and (max-width: 1024px) {
      width: 20%;
    }
    @media only screen and (max-width: 600px) {
      width: 25%;
    }
    .info {
      width: 50%;
      margin: 0 auto;
      font-size: 1rem;
      .current {
        text-align: center;
      }
      .generate {
        text-align: center;
      }
    }
  }
}
