.unit-detail {
  .name {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color-hover);
  }
  .title {
    text-align: center;
    margin-top: 1rem;
  }
  .info {
    padding: 5px;
    span {
      width: 50%;
      + span {
        text-align: center;
      }
    }
    background-color: var(--bg-light);
    &:nth-child(odd) {
      background-color: var(--bg-odd);
    }
  }
  .input {
    display: flex;
    margin-top: 10px;
    app-input-number {
      flex: 1;
    }
    span {
      width: fit-content;
      padding: 5px;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
